@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link href="~/Bootsrap/bootstrap-4.0.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/calenda/fullcalendar-5.6.0/lib/main.css" rel="stylesheet" />
    <script src="~/calenda/fullcalendar-5.6.0/lib/main.js"></script>
    <style type="text/css">
    </style>
    <style>
        .form {
            margin: 10px auto;
            width: 50%;
        }
    </style>
    <script>

        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'timeGridWeek',
                events: [
                    {
                        title: 'all day',
                        start: '2021 - 04 - 21'
                    }
                ]
            });
            calendar.render();
        });



    </script>
</head>
<body>
    <button id="them">Thêm Sự Kiện</button>
    <div id='calendar'></div>
</body>
</html>
<script>
</script>