@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<QLNV.Viewmodels.LienHeNhanVienViewModel>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link href="~/Bootsrap/bootstrap-4.0.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <style type="text/css">
    </style>
    <style>
        .form{
            margin:10px auto;
            width:50%;
        }
    </style>
</head>
<body>
    <div class="form">

        <form id="form"> 
            <div class="form-group">
                <label for="exampleInputEmail1">Tiêu đề</label>
                <input type="text" class="form-control" id="tieude" aria-describedby="emailHelp" placeholder="" name="tieude">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Nội dung</label>
                <textarea class="form-control" id="noidung" name="noidung" cols="40" rows="5"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Kiểu</label>
                <select  id="changeType" class="form-control form-select" aria-label="Default select example">
                    <option selected>Chọn kiểu Email</option>
                    @foreach(var item in ViewBag.MailType) { 
                        <option value="@item.Loaimail">@item.Loaimail</option>
                    }
                    
                </select>
            </div>
            
            <button id="update" type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Bootsrap/bootstrap-4.0.0/dist/js/bootstrap.min.js"></script>
</body>
</html>
<script>

    var idtarget
    var changeItem = document.getElementById('changeType');
    changeItem.onchange = function (e) {
        console.log(e.target.value)
        fetch("/Mail/GetByType/" + e.target.value + "")
            .then(response => response.json())
            .then(data => {
                var tieude = document.getElementById('tieude');
                var noidung = document.getElementById('noidung');
                var obj = JSON.parse(JSON.stringify(data))
                tieude.value = obj.title;
                noidung.value = obj.content
                idtarget = obj.id;
            })
    }

    var form = document.getElementById('form');
    form.onsubmit = function (e) {
        var data = {
            Id: idtarget,
            Tieude: document.getElementById('tieude').value,
            Noidung: document.getElementById('noidung').value,
            Loaimail:2
        }
        console.log(data)
        fetch('/Mail/UpdateMailContent', {
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            method: "POST",
            body: JSON.stringify(data)
        })
            .then(response => response.json())
            .then(data => {
                alert("Cập nhật thành công")
            })
        e.preventDefault();
    }
</script>